<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else cocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      *ngFor="let cocktail of cocktails | async"
    >
      <mat-card *ngIf="cocktail.id == id">
        <mat-card-title>{{ cocktail.title }}</mat-card-title>
        <img
          [src]="cocktail.image | image"
          [alt]="'Photo of ' + cocktail.title"
          mat-card-image
        />
        <mat-card-content>
          <p>Recipe: {{ cocktail.recipe }}</p>
        </mat-card-content>
        <mat-card-content>
          <div *ngFor="let ing of cocktail.ingredients">
            <p>Ingredient: {{ ing.name }} X {{ ing.amount }}</p>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
      </mat-card>
    </div>
  </div>
</ng-template>
