<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else cocktailsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailsArea>
  <h1>{{ cocktail.title }}</h1>
  <div
  fxLayout="row"
  style="margin-bottom: 40px"
  >
    <img [src]="cocktail.image | image" [alt]="'Photo of' + cocktail.title" style="width: 60%">
    <div>
      <h2 style="margin-left: 20px">Ingredients:</h2>
      <ul>
        <li *ngFor="let ing of cocktail.ingredients">{{ ing.name }} - {{ ing.amount }}</li>
      </ul>
    </div>
  </div>
  <p><strong>Recipe:</strong> {{ cocktail.recipe }}</p>
  <mat-card-actions>
    <button
      mat-button
      (click)="OnDelete()"
      *appDelete ="cocktail"
    >Delete</button>
  </mat-card-actions>


</ng-template>
